$primary-color: #3aaf9f;
#btnDel
{
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: bold;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
    &:active {
      transform: translateY(2px);
    }
}